.container {
  text-align: center;
  justify-content: center;
}

.banner-home .col-4 {
  border: 10px, solid, red;
}
.jumbotron-home {
  height: 400px;
  text-align: justify;
  display: flex;
  align-items: center;
}
.collections {
  display: flex;
}
/* .card-display {
  display: flex;
} */
