nav .btn {
  display: flex;
  align-items: center;
}
nav .btn i {
  font-size: 20px;
  margin-right: 10px;
}
nav h5 {
  font-size: 12px;
  margin: 0;
}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.jumbotron-nav-bar {
  background-color: #000;
}
